{
  "presets": [
    "@babel/env",
    // Compile tsx files.
    "@babel/preset-typescript",
    ["@babel/preset-react", {"runtime": "automatic"}]
  ],
  "plugins": [
    // Allow using @/ for root relative imports.
    ["module-resolver", {"alias": {"@": "./src/js/components"}}],
    // Our build doesn't need the {"loose": true} option, but if not included it wil
    // show a lot of warnings on the storybook build.
    ["@babel/proposal-class-properties", {"loose": true}],
    ["@babel/proposal-object-rest-spread", {"loose": true}],
    // Used only by storybook, but must be included to avoid build warnings/errors.
    ["@babel/plugin-proposal-private-methods", {"loose": true}],
    ["@babel/plugin-proposal-private-property-in-object", {"loose": true}]
  ]
}