{
  "presets": [
    "@babel/env",
    "@babel/preset-typescript",
    ["@babel/preset-react", {"runtime": "automatic"}]
  ],
  "plugins": [
    ["module-resolver", {"alias": {"@": "./src/js/components"}}],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    ["@babel/plugin-proposal-private-property-in-object", {"loose": true}]
  ]
}