/out/
/resources/public/js/
/resources/*.js
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

# Intelli-j files
.idea/
athens.iml

# local caches
.clj-kondo/.cache
.lsp/
.cache/

# cache directory for dependencies installed with deps.edn
.cpcache

# Mac OS files
.DS_Store

# Emacs files
.#*
.calva

# electron build
dist

# design system output
/src/gen

# docker compose templating backup
docker-compose.yml.bk

# dev mode server data
athens-data/*
!athens-data/README.md

# java AOT classes
classes/*
!classes/README.md

# vercel static site deployment
vercel-static/*
!vercel-static/index.html
!vercel-state/athens/.gitignore
.vercel
vercel-release/*
!vercel-release/package.json
