/out/
/resources/public/js/
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/
.idea/

.clj-kondo/.cache

# Mac OS files
.DS_Store

# Emacs files
.#*
.dir-locals.el

# Doo test runner
doo-index.html
