{:paths ["src/clj" "src/cljs" "src/cljc" "src/js" "src/gen" "test"]

 :deps
 {org.clojure/clojure                   #:mvn{:version "1.11.1"}
  org.clojure/clojurescript             #:mvn{:version "1.11.4"}
  org.clojure/tools.cli                 #:mvn{:version "1.0.206"}
  thheller/shadow-cljs                  #:mvn{:version "2.18.0"}
  reagent/reagent                       #:mvn{:version "1.0.0"}
  re-frame/re-frame                     #:mvn{:version "1.2.0"}
  day8.re-frame/async-flow-fx           #:mvn{:version "0.3.0"}
  day8.re-frame/test                    #:mvn{:version "0.1.5"}
  datascript/datascript                 #:mvn{:version "1.3.10"}
  datascript-transit/datascript-transit #:mvn{:version "0.3.0"}
  denistakeda/posh                      #:mvn{:version "0.5.8"}
  cljs-http/cljs-http                   #:mvn{:version "0.1.46"}
  metosin/reitit                        #:mvn{:version "0.5.13"}
  metosin/komponentit                   #:mvn{:version "0.3.10"}
  instaparse/instaparse                 #:mvn{:version "1.4.10"}
  borkdude/sci                          #:mvn{:version "0.2.5"}
  tick/tick                             #:mvn{:version "0.5.0-RC5"}
  cljc.java-time/cljc.java-time         #:mvn{:version "0.1.9"}
  com.rpl/specter                       #:mvn{:version "1.1.3"}
  com.taoensso/sente                    #:mvn{:version "1.16.2"}
  binaryage/devtools                    #:mvn{:version "1.0.3"}
  day8.re-frame/re-frame-10x            #:mvn{:version "1.1.13"}
  day8.re-frame/tracing                 #:mvn{:version "0.6.2"}
  org.flatland/ordered                  #:mvn{:version "1.15.10"}
  io.github.nextjournal/clerk           #:git{:sha "d111501576537c402dc8bf65eee30e2cd90d2666"}
  io.homebase/datalog-console           #:mvn{:version "0.3.2"}
  org.clojure/data.json                 #:mvn{:version "2.4.0"}
  ;; backend
  ;;   logging hell
  org.clojure/tools.logging             #:mvn{:version "1.1.0"}
  ch.qos.logback/logback-classic        #:mvn{:version "1.2.3"}
  ;;   IoC
  com.stuartsierra/component            #:mvn{:version "1.0.0"}
  ;;   configuration mgmt
  yogthos/config                        #:mvn{:version "1.1.7"}
  ;;   Fluree
  com.fluree/db                         #:mvn{:version "1.0.0-rc33"}
  ;; web server
  http-kit/http-kit                     #:mvn{:version "2.5.3"}
  compojure/compojure                   #:mvn{:version "1.6.2"}
  ;; data validation
  metosin/malli                         #:mvn{:version "0.5.1"}
  ;; networked repl
  com.stuartsierra/component.repl       #:mvn{:version "0.2.0"}
  nrepl/nrepl                           #:mvn{:version "0.8.3"}
  cider/cider-nrepl                     #:mvn{:version "0.27.2"}}

 :aliases
 {:carve
  {:extra-deps {borkdude/carve
                #:git{:url "https://github.com/borkdude/carve"
                      :sha "7d87e7fdf471121b4f3cc4b442e6ca39503ca07e"}}
   :main-opts  ["-m" "carve.main"]}

  :cljstyle
  {:deps      {mvxcvi/cljstyle
               #:git{:url "https://github.com/greglook/cljstyle.git"
                     :sha "14c18e5b593c39bc59f10df1b894c31a0020dc49"}}
   :main-opts ["-m" "cljstyle.main"]}

  :clj-kondo
  {:extra-deps {borkdude/clj-kondo
                #:git{:url "https://github.com/borkdude/clj-kondo"
                      :sha "8937af7f4372c0d2264735ebc1439d0b61030872"
                      :tag "v2022.03.09"}}
   :main-opts  ["-m" "clj-kondo.main"]}

  :outdated
  {:extra-deps {com.github.liquidz/antq
                #:mvn{:version "1.1.0"}}
   ;; Very noisy, due to https://github.com/liquidz/antq/issues/108
   :main-opts  ["-m" "antq.core"]}

  :uberdeps
  {:replace-deps {uberdeps/uberdeps {:mvn/version "1.1.1"}}
   :replace-paths []
   :main-opts ["-m" "uberdeps.uberjar"]}

  :compiled-classes
  {;; AOT compilation output, to be used with uberdeps.
   ;; https://github.com/tonsky/uberdeps#creating-an-executable-jar
   ;; https://clojure.org/guides/deps_and_cli#aot_compilation
   :extra-paths ["classes"]}

  :test
  {:extra-paths ["dev/clj"]
   :extra-deps  {io.github.cognitect-labs/test-runner
                 {:git/url "https://github.com/cognitect-labs/test-runner.git"
                  :sha     "48c3c67f98362ba1e20526db4eeb6996209c050a"
                  :git/tag "v0.5.0"}}
   :main-opts   ["-m" "cognitect.test-runner"]
   :exec-fn     cognitect.test-runner.api/test}

  :repl
  {:extra-paths ["dev/clj"]}

  :athens
  {:extra-paths ["dev/clj"]
   :main-opts   ["-m" "athens.self-hosted.core"]}

  :athens-cli
  {:extra-paths ["dev/clj"]
   :main-opts   ["-m" "athens.self-hosted.save-load"]}

  :notebooks
  {:extra-paths ["dev/clj" "dev/notebooks"]
   :main-opts   ["-m" "notebooks"]}

  :notebooks-static
  {:extra-paths ["dev/clj" "dev/notebooks"]
   :exec-fn notebooks/build-static-app!}}}
