{:aliases {:carve {:extra-deps {borkdude/carve {:git/url "https://github.com/borkdude/carve"
                                     :sha "4b5010a09e030dbd998faff718d12400748ab3b9"}}
           :main-opts ["-m" "carve.main"]}}}