<configuration debug="true" scan="true">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
    <!-- encoders are  by default assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.undertow" level="info"/>
  <logger name="org.xnio.nio" level="info"/>

  <root level="debug">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
