name: test, style, and lint

on: [push, pull_request]

jobs:

   test:
     runs-on: ubuntu-18.04
     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       - name: Cache deps
         uses: actions/cache@v1
         id: cache-deps
         with:
           path: ~/.m2/repository
           key: ${{ runner.os }}-maven-${{ hashFiles('project.clj') }}
           restore-keys: ${{ runner.os }}-maven-

       - name: Fetch deps
         if: steps.cache-deps.outputs.cache-hit != 'true'
         run: lein deps

       - name: Run tests
         run: script/test/jvm

   lint:
     runs-on: ubuntu-18.04
     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       - uses: DeLaGuardo/setup-clj-kondo@v1
         with:
           version: '2020.05.09'

       - name: Lint
         run: script/lint

   style:
     runs-on: ubuntu-18.04
     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       - name: Style
         run: script/style

   carve:
     runs-on: ubuntu-18.04
     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       - uses: DeLaGuardo/setup-clojure@2.0
         with:
           tools-deps: '1.10.1.469'

       - name: Cache deps
         uses: actions/cache@v1
         id: cache-deps
         with:
           path: ~/.m2/repository
           key: ${{ runner.os }}-maven-${{ hashFiles('deps.edn') }}
           restore-keys: ${{ runner.os }}-maven-

       - name: Fetch deps
         if: steps.cache-deps.outputs.cache-hit != 'true'
         run: clojure -A:carve -Stree

       - name: Carve unused vars
         run: script/carve


  ## TODO: Don't build app until we debug why release from `lein prod` doesn't work
  # build-app:
  #   needs: [test]
  #   runs-on: ubuntu-18.04
  #   steps:
  #     - name: Git checkout
  #       uses: actions/checkout@v1
  #       with:
  #         fetch-depth: 1
  #         submodules: 'true'

  #     - name: Cache deps
  #       uses: actions/cache@v1
  #       id: cache-deps
  #       with:
  #         path: ~/.m2/repository
  #         key: ${{ runner.os }}-maven-${{ hashFiles('project.clj') }}
  #         restore-keys: |
  #           ${{ runner.os }}-maven-

  #     - name: Fetch deps
  #       if: steps.cache-deps.outputs.cache-hit != 'true'
  #       run: lein deps

  #     - name: Athens version
  #       id: athens-version
  #       run: |
  #         ATHENS_VERSION=$(echo $GITHUB_SHA | head -c 7)
  #         echo "##[set-output name=version;]${ATHENS_VERSION}"
  #         echo "##[set-output name=release-name;]athens-app-${ATHENS_VERSION}"

  #     - name: Release
  #       run: RELEASE_NAME=${{ steps.athens-version.outputs.release-name }} script/build/athens-app

  #     - uses: actions/upload-artifact@v1
  #       with:
  #         name: app
  #         path: ${{ steps.athens-version.outputs.release-name }}.tar.gz


   deploy:
     needs: [test]
     runs-on: ubuntu-18.04
     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       - name: Restore maven
         uses: actions/cache@v1
         id: restore-maven
         with:
           path: ~/.m2/repository
           key: ${{ runner.os }}-maven-${{ hashFiles('project.clj') }}
           restore-keys: |
             ${{ runner.os }}-maven-

       - name: Fetch maven
         if: steps.restore-maven.outputs.cache-hit != 'true'
         run: lein deps

       - name: Get yarn cache directory path
         id: yarn-cache-dir-path
         run: echo "::set-output name=dir::$(yarn cache dir)"

       - name: Restore yarn
         uses: actions/cache@v1
         id: restore-yarn
         with:
           path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
           key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
           restore-keys: |
             ${{ runner.os }}-yarn-

       - name: Fetch yarn
         run: yarn install --frozen-lockfile

       - name: Compile app and devcards
         if: github.event_name == 'push'
         run: COMMIT_URL="https://github.com/${GITHUB_REPOSITORY}/commit/${GITHUB_SHA}" script/deploy

       - name: Deploy
         if: github.event_name == 'push'
         uses: peaceiris/actions-gh-pages@v3
         with:
           github_token: ${{ secrets.GITHUB_TOKEN }}
           publish_dir: ./resources/public
