name: build

on:
  push:
    paths-ignore:
      - '*.md'
      - 'docs/**'
  pull_request:
    paths-ignore:
      - '*.md'
      - 'docs/**'

env:
  # Github container registry https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry
  REGISTRY: ghcr.io

jobs:

   test:
     runs-on: ubuntu-latest
     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       - uses: ./.github/custom-actions/clojure-env
       - uses: ./.github/custom-actions/node-env

       - name: Run JVM tests
         run: yarn server:test

       - name: Run Karma tests
         run: yarn client:test

   lint:
     runs-on: ubuntu-latest
     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       # We don't use yarn lint here in order to have faster CI.
       # Keep version and script up to date!
       - uses: DeLaGuardo/setup-clj-kondo@master
         with:
           version: '2021.08.06'

       - name: Lint
         run: clj-kondo --lint src

   style:
     runs-on: ubuntu-latest
     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       - uses: ./.github/custom-actions/clojure-env

       - name: Style
         run: yarn style

   carve:
     runs-on: ubuntu-latest
     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       - uses: ./.github/custom-actions/clojure-env

       - name: Carve unused vars
         run: yarn carve

   build-app:
     needs: [test, lint, style, carve]
     if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
     runs-on: ubuntu-latest
     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       - uses: ./.github/custom-actions/clojure-env
       - uses: ./.github/custom-actions/node-env

       - name: Compile JS Assets
         run: yarn prod --config-merge "{:closure-defines {athens.core/SENTRY_DSN \"${SENTRY_DSN}\" athens.util/COMMIT_URL \"${COMMIT_URL}\" athens.main.core/AUTO_UPDATE ${AUTO_UPDATE}}}"
         env:
           SENTRY_DSN: ${{ secrets.sentry_dsn }}
           AUTO_UPDATE: ${{ github.ref == 'refs/heads/main' }}
           COMMIT_URL: "https://github.com/${{github.repository}}/commit/${{github.sha}}"

       - name: Upload built app for release-web, release-electron
         uses: actions/upload-artifact@v2
         with:
           name: app
           path: resources

   release-web:
     needs: [build-app]
     # Only deploy on v1.* tag pushes to the default branch (main).
     # GH pages is effectively a singleton deploy env for main, and we only want v1 stable to be deployed there for now.
     if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v1.') && github.ref == 'refs/heads/main'
     runs-on: ubuntu-latest
     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       - uses: ./.github/custom-actions/node-env

       - name: Download built app
         uses: actions/download-artifact@v2
         with:
           name: app
           path: resources

       - name: Deploy
         uses: peaceiris/actions-gh-pages@v3
         with:
           github_token: ${{ secrets.GITHUB_TOKEN }}
           publish_dir: ./resources/public
           force_orphan: true

   release-electron:
     needs: [build-app]
     if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')
     runs-on: ${{ matrix.os }}
     env:
       AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
       AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

     strategy:
       matrix:
         os: [ubuntu-latest, windows-latest]
         electron-arch-overrides: [""]
         # Separate out the arm64 macos build, those are the longest builds.
         # package.json still includes configuration to build both targets.
         include:
           - os: macos-latest
             electron-arch-overrides: "-c.mac.target.target=dmg -c.mac.target.arch=x64"
           - os: macos-latest
             electron-arch-overrides: "-c.mac.target.target=dmg -c.mac.target.arch=arm64"             

     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       - uses: ./.github/custom-actions/node-env

       - name: Prepare for app notarization (macOS)
         if: startsWith(matrix.os, 'macos')
         # Import Apple API key for app notarization on macOS
         run: |
           mkdir -p ~/private_keys/
           echo '${{ secrets.api_key }}' > ~/private_keys/AuthKey_${{ secrets.api_key_id }}.p8

       - name: Download built app
         uses: actions/download-artifact@v2
         with:
           name: app
           path: resources

       - name: Build and Publish Electron App
         uses: samuelmeuli/action-electron-builder@v1
         with:

           # Don't run `yarn build`, which otherwise happens by default
           skip_build: true

           # GitHub token, automatically provided to the action
           # (No need to define this secret in the repo settings)
           github_token: ${{ secrets.github_token }}

           # macOS code signing certificate
           mac_certs: ${{ secrets.mac_certs }}
           mac_certs_password: ${{ secrets.mac_certs_password }}

           # If the commit is tagged with a version (e.g. "v1.0.0"),
           # release the app after building
           release: ${{ startsWith(github.ref, 'refs/tags/v') }}

           # Only publish auto-update files on v1.* stable.
           # Ideally we could use electron-builder release channels, but they don't work for github publishing.
           # Instead we control whether the auto-update is published (here) and whether the app will auto-update
           # from releases or releases+prereleases (in athens.main.core).
           # NB: GH actions doesn't have ternary operator, but can workaround using AND/OR logic.
           # see https://github.com/actions/runner/issues/409#issuecomment-752775072
           args: ${{ startsWith(github.ref, 'refs/tags/v1.') && '-c.publish.publishAutoUpdate=true' || '-c.publish.publishAutoUpdate=false' }} ${{ matrix.electron-arch-overrides }}

         env:
           # macOS notarization API key
           API_KEY_ID: ${{ secrets.api_key_id }}
           API_KEY_ISSUER_ID: ${{ secrets.api_key_issuer_id }}


   release-server:
     runs-on: ubuntu-latest
     needs: [test, lint, style, carve]
     if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v')

     steps:
       - name: Git checkout
         uses: actions/checkout@v1
         with:
           fetch-depth: 1
           submodules: 'true'

       - uses: ./.github/custom-actions/clojure-env

       - name: Build server JAR
         run: yarn server:uberjar

       - name: Set up Docker Buildx
         uses: docker/setup-buildx-action@v1

       - name: Login to Github Container registry
         uses: docker/login-action@v1
         with:
           registry: ${{ env.REGISTRY }}
           username: ${{ github.actor }}
           password: ${{ secrets.GITHUB_TOKEN }}

       - name: Extract server metadata (tags, labels) for athens docker image
         id: athens-meta
         uses: docker/metadata-action@v3
         with:
           images: ${{ env.REGISTRY }}/${{ github.repository }}

       - name: Extract server metadata (tags, labels) for nginx docker image
         id: nginx-meta
         uses: docker/metadata-action@v3
         with:
           images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/nginx

       - name: Build and push athens
         uses: docker/build-push-action@v2
         with:
           # Use the current folder as context instead of the branch.
           # Needed to use artifacts like the server jar.
           context: .
           file: athens.dockerfile
           push: true
           tags: ${{ steps.athens-meta.outputs.tags }}
           labels: ${{ steps.athens-meta.outputs.labels }}
           # Use GitHub actions cache.
           # https://github.com/docker/build-push-action/blob/master/docs/advanced/cache.md#github-cache
           cache-from: type=gha
           cache-to: type=gha,mode=max

       - name: Build and push nginx
         uses: docker/build-push-action@v2
         with:
           context: .
           file: nginx.dockerfile
           push: true
           tags: ${{ steps.nginx-meta.outputs.tags }}
           labels: ${{ steps.nginx-meta.outputs.labels }}
           cache-from: type=gha
           cache-to: type=gha,mode=max


       - name: Replace version in docker-compose
         run: sed -i.bk 's/:latest/:${{ steps.athens-meta.outputs.version }}/' docker-compose.yml

       - name: Publish Docker compose
         uses: ncipollo/release-action@v1
         with:
           artifacts: "docker-compose.yml"
           token: ${{ secrets.GITHUB_TOKEN }}
           allowUpdates: true
           prerelease: true
           draft: true



